<div class="notification-container">
  <div 
    *ngFor="let notification of notifications" 
    [class]="getNotificationClass(notification)"
    [@slideInOut]>
    
    <div class="notification-content">
      <div class="notification-icon-container">
        <mat-icon [class]="getIconClass(notification)">
          {{ notification.icon }}
        </mat-icon>
      </div>
      
      <div class="notification-text">
        <h4 class="notification-title">{{ notification.title }}</h4>
        <p class="notification-message">{{ notification.message }}</p>
      </div>
      
      <button 
        mat-icon-button 
        class="notification-close"
        (click)="removeNotification(notification.id)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    
    <div class="notification-progress" *ngIf="notification.duration && notification.duration > 0">
      <div class="progress-bar"></div>
    </div>
  </div>
</div>
